## Importando o arquivo

In [8]:
import pandas as pd

nome_arquivo = r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\coffee.csv"
dados_cafe = pd.read_csv(nome_arquivo)

In [9]:
dados_cafe.head()

         Date   Open    High     Low   Close  Volume Currency
0  2019-01-02  101.6  102.65   99.35   99.50   22181      USD
1  2019-01-03   99.5  103.25   99.45  102.15   21488      USD
2  2019-01-04  102.3  103.00  100.40  101.60   16115      USD
3  2019-01-07  101.5  103.45  101.15  102.75   15307      USD
4  2019-01-08  102.9  106.05  102.35  105.05   32987      USD

## Lendo as estruturas de cada coluna para entender melhor o CSV

In [10]:
print(dados_cafe.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Currency'], dtype='object')

In [11]:
print(dados_cafe.dtypes)

Date         object
Open        float64
High        float64
Low         float64
Close       float64
Volume        int64
Currency     object
dtype: object

In [12]:
dados_cafe['Date'] = pd.to_datetime(dados_cafe['Date'])

## Aqui fiz um ETL de Datetime pois ele estava como object

In [13]:
print(dados_cafe.dtypes)

Date        datetime64[ns]
Open               float64
High               float64
Low                float64
Close              float64
Volume               int64
Currency            object
dtype: object

## Fiz uma analise para ver se tinha algum Null na coluna e rodei um código em Python para dar um double check.

In [18]:
print(dados_cafe.isnull().sum())

Date        0
Open        0
High        0
Low         0
Close       0
Volume      0
Currency    0
dtype: int64

In [29]:
for data in dados_cafe['Date']:
    try:
        pd.to_datetime(data)
    except ValueError:
        print("Data fora do padrão: ", data)

In [15]:
import sqlite3

nome_arquivo = r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\exchange_rates.db"
conexao = sqlite3.connect(nome_arquivo)

# Para executar uma consulta SQL e obter os resultados em um DataFrame pandas:
consulta_sql = "SELECT * FROM exchange_rates"
dados_taxas_cambio = pd.read_sql_query(consulta_sql, conexao)

# Para fechar a conexão com o banco de dados:
conexao.close()

In [16]:
print(conexao)

<sqlite3.Connection object at 0x0000024C5E6A03F0>

In [17]:
conexao = sqlite3.connect(nome_arquivo)

# Para executar uma consulta SQL para obter as informações sobre a tabela:
consulta_sql = "PRAGMA table_info('exchange_rates')"
cursor = conexao.execute(consulta_sql)
colunas = cursor.fetchall()

# Para imprimir na tela as informações sobre a tabela:
print(colunas)

# Para fechar a conexão com o banco de dados:
conexao.close()

[(0, 'id', 'INTEGER', 1, None, 1), (1, 'Date', 'DATE', 0, None, 0), (2, 'Currency', 'VARCHAR(3)', 0, None, 0), (3, 'Rate', 'FLOAT', 0, None, 0)]

## Fazendo as análises do Desafio.

In [32]:
import sqlite3
import pandas as pd

# Leitura do arquivo coffee.csv para um DataFrame pandas
dados_cafe = pd.read_csv(r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\coffee.csv")

# Criação de conexão com o banco de dados em memória
conexao = sqlite3.connect(":memory:")

# Carregamento dos dados do DataFrame para uma tabela "cafe" no banco de dados em memória
dados_cafe.to_sql("cafe", conexao, index=False)

# Consulta SQL para obter o maior volume negociado de café no dia e as cotações de fechamento
consulta_sql = """
SELECT Date, Close, Volume
FROM cafe
WHERE Volume = (SELECT MAX(Volume) FROM cafe)
"""
resultado = pd.read_sql_query(consulta_sql, conexao)
print("Maior volume negociado de café no dia e as cotações de fechamento:")
print(resultado)

# Consulta SQL para obter o total de café negociado por ano e as cotações
consulta_sql = """
SELECT STRFTIME('%Y', Date) AS Ano, SUM(Volume) AS Total_Negociado, AVG(Close) AS Cotacao_Media
FROM cafe
GROUP BY Ano
"""
resultado = pd.read_sql_query(consulta_sql, conexao)
print("Total de café negociado por ano e as cotações:")
print(resultado)

# Consulta SQL para obter a média de volume negociado mensal e anual
consulta_sql = """
SELECT STRFTIME('%Y', Date) AS Ano, STRFTIME('%m', Date) AS Mes, AVG(Volume) AS Media_Volume_Negociado
FROM cafe
GROUP BY Ano, Mes
"""
resultado = pd.read_sql_query(consulta_sql, conexao)
print("Média de volume negociado mensal e anual:")
print(resultado)

# Fechamento da conexão com o banco de dados em memória
conexao.close()

Maior volume negociado de café no dia e as cotações de fechamento:
         Date  Close  Volume
0  2019-04-11  90.25   62045
Total de café negociado por ano e as cotações:
    Ano  Total_Negociado  Cotacao_Media
0  2019          4011645     101.141270
1  2020          3078378     111.017589
2  2021          3127536     168.890278
3  2022          2374254     227.172515
Média de volume negociado mensal e anual:
     Ano Mes  Media_Volume_Negociado
0   2019  01            21827.476190
1   2019  02            17392.684211
2   2019  03             8916.666667
3   2019  04            23584.142857
4   2019  05            13223.409091
5   2019  06            22037.900000
6   2019  07             8819.772727
7   2019  08            15226.227273
8   2019  09             7425.550000
9   2019  10            24074.478261
10  2019  11            21131.950000
11  2019  12             7368.666667
12  2020  01            22863.380952
13  2020  02            17807.947368
14  2020  03             7510.681818
15  2020  04             9736.571429
16  2020  05             7298.500000
17  2020  06            13202.227273
18  2020  07             9903.318182
19  2020  08            13991.047619
20  2020  09             8526.571429
21  2020  10            17664.863636
22  2020  11            13478.350000
23  2020  12             4765.318182
24  2021  01            20298.263158
25  2021  02            14050.368421
26  2021  03             6916.173913
27  2021  04            13315.047619
28  2021  05             7061.400000
29  2021  06            15562.409091
30  2021  07            13117.333333
31  2021  08            14867.681818
32  2021  09             5705.857143
33  2021  10            19292.904762
34  2021  11            16347.190476
35  2021  12             3718.409091
36  2022  01            18890.650000
37  2022  02            16674.210526
38  2022  03             5156.956522
39  2022  04            17803.850000
40  2022  05            16666.238095
41  2022  06            19171.095238
42  2022  07             8784.000000
43  2022  08            12029.565217

## utilizando o request direto da API.

In [53]:
import requests

url = "https://api.apilayer.com/currency_data/historical?date=2019-04-11"

payload = {}
headers= {
  "apikey": "YeAMzndvd2wsvSujKL21yc3UWplNtdV4"
}

response = requests.request("GET", url, headers=headers, data = payload)

status_code = response.status_code
result = response.json()

# Impressão das cotações das moedas Real - BRL, Euro - EUR e Peso Chileno - CLP presentes na resposta
cotacoes = result["quotes"]
print("Cotação do Real - BRL:", cotacoes["USDBRL"])
print("Cotação do Euro - EUR:", cotacoes["USDEUR"])
print("Cotação do Peso Chileno - CLP:", cotacoes["USDCLP"])

Cotação do Real - BRL: 3.857302
Cotação do Euro - EUR: 0.88807
Cotação do Peso Chileno - CLP: 663.898058

# CUIDADO COM ESSA QUERY, ELA SUBSCREVE O ARQUIVO PRONTO CSV DE ANALISE DO DIRETÓRIO.

In [11]:
import sqlite3
import pandas as pd

# Leitura do arquivo coffee.csv para um DataFrame pandas
dados_cafe = pd.read_csv(r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\coffee.csv")

# Criação de conexão com o banco de dados em memória
conexao = sqlite3.connect(":memory:")

# Carregamento dos dados do DataFrame para uma tabela "cafe" no banco de dados em memória
dados_cafe.to_sql("cafe", conexao, index=False)

# Consulta SQL para obter o maior volume negociado de café no dia e as cotações de fechamento
consulta_sql = """
SELECT Date, Close, Volume
FROM cafe
WHERE Volume = (SELECT MAX(Volume) FROM cafe)
"""
resultado = pd.read_sql_query(consulta_sql, conexao)
print("Maior volume negociado de café no dia e as cotações de fechamento:")
print(resultado)
resultado.to_csv(r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\maior_volume_negociado.csv", index=False)

# Consulta SQL para obter o total de café negociado por ano e as cotações
consulta_sql = """
SELECT STRFTIME('%Y', Date) AS Ano, SUM(Volume) AS Total_Negociado, AVG(Close) AS Cotacao_Media
FROM cafe
GROUP BY Ano
"""
resultado = pd.read_sql_query(consulta_sql, conexao)
print("Total de café negociado por ano e as cotações:")
print(resultado)
resultado.to_csv(r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\total_negociado_por_ano.csv", index=False)

# Consulta SQL para obter a média de volume negociado mensal e anual
consulta_sql = """
SELECT STRFTIME('%Y', Date) AS Ano, STRFTIME('%m', Date) AS Mes, AVG(Volume) AS Media_Volume_Negociado
FROM cafe
GROUP BY Ano, Mes
"""
resultado = pd.read_sql_query(consulta_sql, conexao)
print("Média de volume negociado mensal e anual:")
print(resultado)
resultado.to_csv(r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\media_volume_negociado_mensal_anual.csv", index=False)

# Fechamento da conexão com o banco de dados em memória
conexao.close()

Maior volume negociado de café no dia e as cotações de fechamento:
         Date  Close  Volume
0  2019-04-11  90.25   62045
Total de café negociado por ano e as cotações:
    Ano  Total_Negociado  Cotacao_Media
0  2019          4011645     101.141270
1  2020          3078378     111.017589
2  2021          3127536     168.890278
3  2022          2374254     227.172515
Média de volume negociado mensal e anual:
     Ano Mes  Media_Volume_Negociado
0   2019  01            21827.476190
1   2019  02            17392.684211
2   2019  03             8916.666667
3   2019  04            23584.142857
4   2019  05            13223.409091
5   2019  06            22037.900000
6   2019  07             8819.772727
7   2019  08            15226.227273
8   2019  09             7425.550000
9   2019  10            24074.478261
10  2019  11            21131.950000
11  2019  12             7368.666667
12  2020  01            22863.380952
13  2020  02            17807.947368
14  2020  03             7510.681818
15  2020  04             9736.571429
16  2020  05             7298.500000
17  2020  06            13202.227273
18  2020  07             9903.318182
19  2020  08            13991.047619
20  2020  09             8526.571429
21  2020  10            17664.863636
22  2020  11            13478.350000
23  2020  12             4765.318182
24  2021  01            20298.263158
25  2021  02            14050.368421
26  2021  03             6916.173913
27  2021  04            13315.047619
28  2021  05             7061.400000
29  2021  06            15562.409091
30  2021  07            13117.333333
31  2021  08            14867.681818
32  2021  09             5705.857143
33  2021  10            19292.904762
34  2021  11            16347.190476
35  2021  12             3718.409091
36  2022  01            18890.650000
37  2022  02            16674.210526
38  2022  03             5156.956522
39  2022  04            17803.850000
40  2022  05            16666.238095
41  2022  06            19171.095238
42  2022  07             8784.000000
43  2022  08            12029.565217

## Utilizei alguns comandos em python para transformação da tabela Raw - bronze - silver - gold, para ter as cotações, os códigos estão todos junto ao documento git.

In [41]:
import pandas as pd

nome_arquivo2 = r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\coffee_gold.csv"
dados_cafe_gold = pd.read_csv(nome_arquivo2)

In [42]:
dados_cafe_gold.head()

,Date,Open,High,Low,Close,Volume,Currency,USD-BRL,USD-CLP,USD-EUR,Volume_USD-BRL,Volume_USD-CLP,Volume_USD-EUR
0,1/2/2019,101.6,102.65,99.35,99.50,22181,USD,3.789851,696.820523,0.883585,84062.68503,15456176.02,19598.79889
1,1/3/2019,99.5,103.25,99.45,102.15,21488,USD,3.756597,693.799154,0.877920,80721.75634,14908356.22,18864.74496
2,1/4/2019,102.3,103.00,100.40,101.60,16115,USD,3.715204,681.203912,0.877535,59870.51246,10977601.04,14141.47653
3,1/7/2019,101.5,103.45,101.15,102.75,15307,USD,3.735601,681.249605,0.871125,57180.84451,10427887.70,13334.31038
4,1/8/2019,102.9,106.05,102.35,105.05,32987,USD,3.713906,680.400592,0.872925,122510.61720,22444374.33,28795.17698

In [43]:
dados_cafe_gold.dtypes

Date               object
Open              float64
High              float64
Low               float64
Close             float64
Volume              int64
Currency           object
USD-BRL           float64
USD-CLP           float64
USD-EUR           float64
Volume_USD-BRL    float64
Volume_USD-CLP    float64
Volume_USD-EUR    float64
dtype: object

## tudo ok, vamos fazer a analise novamente agora com a planilha de valores e volumes, antes vou transformar o arquivo em Parquet para pesar menos.

In [12]:
import pandas as pd

# Defina o caminho do arquivo de entrada e saída
input_csv = r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\coffee_gold.csv"
output_parquet = r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\coffee_gold.parquet"

# Leia o arquivo CSV como um DataFrame do pandas
df = pd.read_csv(input_csv)

# Salve o DataFrame como um arquivo Parquet
df.to_parquet(output_parquet, engine='pyarrow', index=False)

In [27]:
df.head()

Row(Date='1/2/2019', Open=101.6, High=102.65, Low=99.35, Close=99.5, Volume=22181, Currency='USD', USDBRL=3.789851, USDCLP=696.820523, USDEUR=0.883585, Volume_USDBRL=84062.68503, Volume_USDCLP=15456176.02, Volume_USDEUR=19598.79889)

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, month

# Criando uma SparkSession
spark = SparkSession.builder.master("local").appName("CoffeeAnalysis").getOrCreate()

In [25]:
input_parquet = r"C:\Users\andre\Documents\Kaggle\PISMO\Desafio\coffee_gold.parquet"

# Leia o arquivo Parquet como um DataFrame do PySpark (cuidado com o arquivo pois estou lendo o parquet, ele está dentro do git)
df = spark.read.parquet(input_parquet)

In [ ]:
## Perguntas do desafio:

## Utilizando pandas para ter um double check.

In [39]:
import pandas as pd

# Carregar o arquivo CSV
coffee_gold = pd.read_csv("C:/Users/andre/Documents/Kaggle/PISMO/Desafio/coffee_gold.csv")
coffee_gold['Date'] = pd.to_datetime(coffee_gold['Date'])

# Maior volume negociado de café no dia e as cotações de fechamento
max_volume = coffee_gold.loc[coffee_gold['Volume'].idxmax()]
print("Maior volume negociado de café no dia e as cotações de fechamento:")
print(max_volume)

# Total de café negociado por ano e as cotações
coffee_gold['Ano'] = coffee_gold['Date'].dt.year
total_negociado_por_ano = coffee_gold.groupby('Ano').agg({
    'Volume': 'sum',
    'USD-BRL': 'mean',
    'USD-CLP': 'mean',
    'USD-EUR': 'mean'
})
print("Total de café negociado por ano e as cotações:")
print(total_negociado_por_ano)

# Média de volume negociado mensal e anual
coffee_gold['Mes'] = coffee_gold['Date'].dt.month
media_volume_mensal_anual = coffee_gold.groupby(['Ano', 'Mes']).agg({
    'Volume': 'mean',
    'USD-BRL': 'mean',
    'USD-CLP': 'mean',
    'USD-EUR': 'mean'
})
print("Média de volume negociado mensal e anual:")
print(media_volume_mensal_anual)

Maior volume negociado de café no dia e as cotações de fechamento:
Date              2019-04-11 00:00:00
Open                             94.1
High                             94.3
Low                             90.15
Close                           90.25
Volume                          62045
Currency                          USD
USD-BRL                      3.857302
USD-CLP                    663.898058
USD-EUR                       0.88807
Volume_USD-BRL            239326.3026
Volume_USD-CLP            41191555.01
Volume_USD-EUR            55100.30315
Name: 69, dtype: object
Total de café negociado por ano e as cotações:
       Volume   USD-BRL     USD-CLP   USD-EUR
Ano
2019  4011645  3.945154  703.635667  0.893084
2020  3078378  5.164605  792.334426  0.876617
2021  3152066  5.398363  760.687902  0.845883
2022  2401434  5.117718  853.370903  0.933512
Média de volume negociado mensal e anual:
                Volume   USD-BRL     USD-CLP   USD-EUR
Ano  Mes
2019 1    21827.476190  3.733684  674.882938  0.875480
     2    17392.684211  3.722801  655.778096  0.880909
     3     8916.666667  3.839809  670.156984  0.884549
     4    23584.142857  3.895746  667.345685  0.890052
     5    13223.409091  3.993911  692.612948  0.893852
     6    22037.900000  3.858694  690.701586  0.884776
     7     8819.772727  3.780441  687.523245  0.891899
     8    15226.227273  4.027185  714.374201  0.897816
     9     7425.550000  4.118266  718.288858  0.907521
     10   24074.478261  4.085756  722.697089  0.904291
     11   21131.950000  4.159535  782.342806  0.904838
     12    7368.666667  4.107407  765.160944  0.899443
2020 1    22863.380952  4.151639  775.933377  0.900893
     2    17807.947368  4.352277  797.771819  0.916636
     3     7510.681818  4.896508  842.247276  0.903580
     4     9736.571429  5.326774  853.296659  0.920124
     5     7298.500000  5.638203  821.145487  0.915836
     6    13202.227273  5.191830  796.648155  0.888124
     7     9903.318182  5.281598  781.034203  0.870781
     8    13991.047619  5.460068  786.534643  0.845083
     9     8526.571429  5.405408  773.655209  0.848596
     10   17664.863636  5.628521  787.847056  0.849788
     11   13478.350000  5.438725  761.930149  0.844872
     12    4765.318182  5.146621  731.478534  0.821601
2021 1    20298.263158  5.364977  723.432175  0.821107
     2    14574.350000  5.414314  722.758039  0.827027
     3     6916.173913  5.646150  725.887914  0.840324
     4    13315.047619  5.559818  707.653468  0.834588
     5     7061.400000  5.300338  712.585101  0.823436
     6    15562.409091  5.026157  728.697554  0.830598
     7    13117.333333  5.167242  753.470147  0.845816
     8    14867.681818  5.251713  781.312786  0.849768
     9     5705.857143  5.282241  787.182969  0.850333
     10   19292.904762  5.539160  814.050985  0.862080
     11   16347.190476  5.557210  814.149367  0.876065
     12    3718.409091  5.652934  849.075905  0.884364
2022 1    18890.650000  5.527401  819.272585  0.883871
     2    17199.500000  5.200488  807.370615  0.881851
     3     5156.956522  4.971206  797.967802  0.907406
     4    17803.850000  4.747786  818.907898  0.926053
     5    16666.238095  4.961004  848.589876  0.945835
     6    19171.095238  5.051602  865.889173  0.946387
     7     8784.000000  5.366729  966.711737  0.983117
     8    12029.565217  5.144611  902.771110  0.988054

In [ ]:
## para fazer as consultas vou utilziar o spark, como estou trabalhando com python vou utilizar o fram. Pyspark (atenção para a versão) // Perguntas do desafio:

In [59]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\andre\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\andre\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [52]:
from pyspark.sql import SparkSession

# Inicialize a SparkSession
spark = SparkSession.builder \
    .appName("Pandas to Spark DataFrame Conversion") \
    .getOrCreate()

# Converter o pandas DataFrame em PySpark DataFrame
coffee_gold_spark = spark.createDataFrame(coffee_gold)

# Adicionar as colunas 'Ano' e 'Mes'
coffee_gold_spark = coffee_gold_spark.withColumn('Ano', year(coffee_gold_spark['Date']))
coffee_gold_spark = coffee_gold_spark.withColumn('Mes', month(coffee_gold_spark['Date']))

# Crie uma visualização temporária para executar consultas SQL
coffee_gold_spark.createOrReplaceTempView("coffee_gold")

## Pyspark com python 3.11

In [68]:
import os

os.environ["PYSPARK_PYTHON"] = "C:\\Users\\andre\\AppData\\Local\\Programs\\Python\\Python311\\python.exe"
os.environ["PYSPARK_DRIVER_PYTHON"] = "C:\\Users\\andre\\AppData\\Local\\Programs\\Python\\Python311\\python.exe"
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\andre\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\andre\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [ ]:
total_cafe_ano = spark.sql("""
SELECT Ano,
       SUM(Volume) as Total_Negociado,
       AVG(Close) as Cotacao_Media,
       AVG(`USD-BRL`) as Media_USDBRL,
       AVG(`USD-CLP`) as Media_USDCLP,
       AVG(`USD-EUR`) as Media_USDEUR
FROM coffee_gold
GROUP BY Ano
""")

total_cafe_ano.show()

In [ ]:
maior_volume_dia = spark.sql("""
SELECT Date, Close, Volume, `USD-BRL`, `USD-CLP`, `USD-EUR`
FROM coffee_gold
WHERE Volume = (SELECT MAX(Volume) FROM coffee_gold)
""")

maior_volume_dia.show()

In [ ]:
media_volume_mensal_anual = spark.sql("""
SELECT Ano, Mes,
       AVG(Volume) as Media_Volume_Negociado,
       AVG(`USD-BRL`) as Media_USDBRL,
       AVG(`USD-CLP`) as Media_USDCLP,
       AVG(`USD-EUR`) as Media_USDEUR
FROM coffee_gold
GROUP BY Ano, Mes
ORDER BY Ano, Mes
""")

media_volume_mensal_anual.show()

In [74]:
## disperção para analisar os quartis.

In [73]:
import pandas as pd
import matplotlib.pyplot as plt

# 1. Estatísticas descritivas básicas
stats = coffee_gold.describe()
print(stats)

# 2. Preços médios por ano e por mês
coffee_gold['Ano'] = pd.DatetimeIndex(coffee_gold['Date']).year
coffee_gold['Mes'] = pd.DatetimeIndex(coffee_gold['Date']).month

average_prices = coffee_gold.groupby(['Ano', 'Mes']).mean()
print(average_prices)

             Open        High         Low       Close        Volume  \
count  926.000000  926.000000  926.000000  926.000000    926.000000
mean   145.303790  147.227851  143.375065  145.178467  13653.912527
std     51.640715   52.379308   50.894639   51.804886  12702.120368
min     87.050000   87.600000   86.350000   86.650000      0.000000
25%    103.700000  104.925000  102.350000  103.562500     28.250000
50%    122.500000  124.250000  120.575000  122.500000  14666.000000
75%    199.837500  203.312500  194.437500  199.050000  22584.750000
max    259.100000  260.450000  253.650000  258.350000  62045.000000

          USD-BRL      USD-CLP     USD-EUR  Volume_USD-BRL  Volume_USD-CLP  \
count  926.000000   926.000000  926.000000      926.000000    9.260000e+02
mean     4.888106   770.623271    0.883023    65391.244441    1.042613e+07
std      0.658788    67.806046    0.040162    59457.432871    9.539160e+06
min      3.644305   648.103082    0.810403        0.000000    0.000000e+00
25%      4.156150   716.874946    0.848573      129.228727    2.145978e+04
50%      5.158052   773.802421    0.885280    71742.160325    1.165663e+07
75%      5.404723   812.901013    0.904426   107353.621800    1.748003e+07
max      5.887898  1050.760388    1.006125   262475.646700    4.186729e+07

       Volume_USD-EUR          Ano         Mes
count      926.000000   926.000000  926.000000
mean     12063.597227  2020.363931    6.186825
std      11235.448915     1.067635    3.348687
min          0.000000  2019.000000    1.000000
25%         25.260692  2019.000000    3.000000
50%      13098.786770  2020.000000    6.000000
75%      20028.974425  2021.000000    9.000000
max      55100.303150  2022.000000   12.000000
                Open        High         Low       Close        Volume  \
Ano  Mes
2019 1    103.085714  104.619048  101.959524  103.350000  21827.476190
     2    100.026316  100.784211   98.802632   99.476316  17392.684211
     3     95.999524   96.695238   95.233333   94.488095   8916.666667
     4     92.030952   93.202381   90.900000   91.869048  23584.142857
     5     91.609545   92.827273   90.737273   91.734091  13223.409091
     6    100.582500  102.222500   99.270000  100.705000  22037.900000
     7    106.325909  107.349545  104.362273  104.852273   8819.772727
     8     94.725000   95.661364   93.672727   94.584091  15226.227273
     9     99.482000  100.986500   98.461500   97.920000   7425.550000
     10    97.226087   98.586957   95.947826   97.367391  24074.478261
     11   108.761500  110.555000  107.656500  109.545000  21131.950000
     12   129.332381  130.911429  127.630952  128.814286   7368.666667
2020 1    114.921429  115.828571  112.621429  113.569048  22863.380952
     2    103.350000  105.350000  101.863158  103.763158  17807.947368
     3    114.694545  116.701364  112.970909  114.845455   7510.681818
     4    114.328571  115.807143  112.095238  113.607143   9736.571429
     5    105.650000  106.241500  104.459000  105.165000   7298.500000
     6     96.915909   98.020455   95.565909   96.709091  13202.227273
     7    102.872273  104.814091  101.930455  103.270455   9903.318182
     8    118.590476  121.150000  116.754762  118.947619  13991.047619
     9    121.374286  122.617619  119.599048  121.147619   8526.571429
     10   107.604545  109.325000  105.990909  107.402273  17664.863636
     11   111.550000  113.120000  110.307500  111.850000  13478.350000
     12   121.892273  123.060455  120.840455  121.543182   4765.318182
2021 1    124.363158  126.202632  122.460526  124.400000  20298.263158
     2    126.427500  128.302500  125.442500  127.212500  14574.350000
     3    130.363913  130.901304  128.360000  129.156522   6916.173913
     4    132.076190  133.969048  130.733333  132.471429  13315.047619
     5    148.814000  150.134000  147.555500  149.240000   7061.400000
     6    156.650000  158.486364  154.404545  156.293182  15562.409091
     7    170.268571  173.755714  166.148571  169.316667  13117.333333
     8    181.218182  183.559091  179.054545  181.922727  14867.681818
     9    189.833333  191.829524  188.242857  189.107143   5705.857143
     10   202.442857  206.361905  199.254762  202.769048  19292.904762
     11   220.002381  224.545238  217.264286  221.388095  16347.190476
     12   235.041818  236.626364  233.038636  234.800000   3718.409091
2022 1    235.815000  238.945000  232.970000  236.240000  18890.650000
     2    246.207500  249.010000  242.862500  245.722500  17199.500000
     3    223.479565  225.726087  220.628696  223.508696   5156.956522
     4    225.926500  228.744000  222.631500  225.631500  17803.850000
     5    217.992857  221.114286  214.090476  218.082381  16666.238095
     6    230.066667  234.145238  226.811905  230.292857  19171.095238
     7    216.073000  217.967500  212.446500  215.447500   8784.000000
     8    223.239130  227.173913  220.367391  224.221739  12029.565217

           USD-BRL     USD-CLP   USD-EUR  Volume_USD-BRL  Volume_USD-CLP  \
Ano  Mes
2019 1    3.733684  674.882938  0.875480    81483.609922    1.472958e+07
     2    3.722801  655.778096  0.880909    64570.164423    1.144905e+07
     3    3.839809  670.156984  0.884549    34620.249652    6.036377e+06
     4    3.895746  667.345685  0.890052    91211.049970    1.567582e+07
     5    3.993911  692.612948  0.893852    52877.054842    9.299195e+06
     6    3.858694  690.701586  0.884776    85367.306062    1.534155e+07
     7    3.780441  687.523245  0.891899    33330.190639    6.133161e+06
     8    4.027185  714.374201  0.897816    60313.822020    1.083551e+07
     9    4.118266  718.288858  0.907521    30878.450108    5.373767e+06
     10   4.085756  722.697089  0.904291    98236.816614    1.740385e+07
     11   4.159535  782.342806  0.904838    86772.796311    1.602676e+07
     12   4.107407  765.160944  0.899443    29934.821371    5.518861e+06
2020 1    4.151639  775.933377  0.900893    95023.493282    1.775924e+07
     2    4.352277  797.771819  0.916636    76730.056368    1.406053e+07
     3    4.896508  842.247276  0.903580    38297.809451    6.380261e+06
     4    5.326774  853.296659  0.920124    50861.741528    8.319783e+06
     5    5.638203  821.145487  0.915836    39815.531240    5.900754e+06
     6    5.191830  796.648155  0.888124    67311.941246    1.036611e+07
     7    5.281598  781.034203  0.870781    51252.993702    7.574194e+06
     8    5.460068  786.534643  0.845083    75341.084426    1.097652e+07
     9    5.405408  773.655209  0.848596    47308.894027    6.667137e+06
     10   5.628521  787.847056  0.849788    99444.389620    1.392248e+07
     11   5.438725  761.930149  0.844872    73957.185904    1.022486e+07
     12   5.146621  731.478534  0.821601    24725.270647    3.415054e+06
2021 1    5.364977  723.432175  0.821107   108786.088647    1.466949e+07
     2    5.414314  722.758039  0.827027    78557.020958    1.064552e+07
     3    5.646150  725.887914  0.840324    39137.101492    5.019633e+06
     4    5.559818  707.653468  0.834588    75098.426203    9.454764e+06
     5    5.300338  712.585101  0.823436    37340.516035    5.120589e+06
     6    5.026157  728.697554  0.830598    78895.570050    1.124762e+07
     7    5.167242  753.470147  0.845816    67846.659149    9.956887e+06
     8    5.251713  781.312786  0.849768    77951.691950    1.157794e+07
     9    5.282241  787.182969  0.850333    30587.911795    4.543748e+06
     10   5.539160  814.050985  0.862080   106813.591361    1.569171e+07
     11   5.557210  814.149367  0.876065    90279.621025    1.316802e+07
     12   5.652934  849.075905  0.884364    21018.768239    3.191095e+06
2022 1    5.527401  819.272585  0.883871   104357.449740    1.546122e+07
     2    5.200488  807.370615  0.881851    90306.606460    1.398536e+07
     3    4.971206  797.967802  0.907406    24703.491138    4.051876e+06
     4    4.747786  818.907898  0.926053    83891.439271    1.446692e+07
     5    4.961004  848.589876  0.945835    82701.854522    1.414119e+07
     6    5.051602  865.889173  0.946387    96106.402298    1.644564e+07
     7    5.366729  966.711737  0.983117    47019.559565    8.197187e+06
     8    5.144611  902.771110  0.988054    62119.919705    1.086259e+07

          Volume_USD-EUR
Ano  Mes
2019 1      19109.905335
     2      15332.600204
     3       7891.253670
     4      20951.164707
     5      11842.600008
     6      19550.026257
     7       7914.718828
     8      13620.919906
     9       6768.566991
     10     21762.688334
     11     19097.840323
     12      6618.261731
2020 1      20605.665176
     2      16289.879770
     3       6883.117164
     4       8945.942537
     5       6634.422043
     6      11718.750191
     7       8449.276716
     8      11843.851467
     9       7285.770517
     10     15015.004091
     11     11422.278420
     12      3900.389491
2021 1      16664.231980
     2      12076.324942
     3       5867.855278
     4      11173.743429
     5       5787.955772
     6      12822.507764
     7      11101.756049
     8      12630.759363
     9       4885.659553
     10     16632.107007
     11     14206.527894
     12      3282.613303
2022 1      16695.065426
     2      15116.198441
     3       4669.103526
     4      16430.435443
     5      15754.231637
     6      18122.688700
     7       8609.399104
     8      11795.990848